<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.noveljoa.user.novel.dao.noveljoa.novelMapper">	<!-- namespace : 아이디를 구분할때 사용 -->

<insert id="insertNovel" parameterType="kr.co.noveljoa.user.novel.vo.NovelVO">
insert into test  
(name, age)
values( #{ name }, #{ age })
</insert>

</mapper>