<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="editnovelMapper">	<!-- namespace : 아이디를 구분할때 사용 -->

	<update id="updateEditNovel" parameterType="kr.co.noveljoa.user.noveledit.EditNovelVO">
	update novel set title=#{title},age=#{age},photo=#{photo},story=#{story},open=#{open},end=#{end},genre=#{genre} 
	where num_novel=#{num_novel}
	</update>
	<delete id="deleteNovel" parameterType="int">
	delete from novel where num_novel=#{num_novel}
	</delete>

</mapper>