<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainMapper">	<!-- namespace : 아이디를 구분할때 사용 -->

	<select id="selectMain" parameterType="kr.co.noveljoa.user.main.MainVO" resultType="kr.co.noveljoa.user.main.MainDomain">
		SELECT n.num_novel, n.photo, n.age, n.end, n.title, m.id, COUNT(l.num_like) AS liken_count,
		e.visit, n.story, COUNT(ep.num_episode) AS episode_count, MAX(ep.make) AS max_make,
		RANK() OVER (ORDER BY e.visit DESC) AS visit_rank	
		FROM novel n	
		JOIN member m ON n.num_member = m.num_member	
		LEFT JOIN liken l ON n.num_novel = l.num_novel	
		LEFT JOIN (
		  SELECT num_novel, MAX(visit) AS visit	
		  FROM episode	
		  WHERE make >= SYSDATE - #{type}
		  GROUP BY num_novel
		    ) e ON n.num_novel = e.num_novel	
		LEFT JOIN episode ep ON n.num_novel = ep.num_novel AND e.visit = ep.visit	
		WHERE n.make >= SYSDATE - #{type}
		AND e.visit IS NOT NULL and n.open=1 and n.genre=${genre}	
		GROUP BY n.num_novel, n.photo, n.age, n.title, m.id, e.visit, n.story, n.end	
		ORDER BY e.visit DESC
	</select>

</mapper>